@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #eeee;
}

body{
    
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.texto h1{
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    font-size: 50px;
    font-weight: normal;
    position: relative;
}

.parte1 h2{
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    font-size: 30px;
    margin-top: 50px;
    font-weight:normal;
    position: relative;
    
}

.parte2 h2{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
    font-weight:normal;
    position: relative;
}

.parte3 h2{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: normal;
    position: relative;
}

.texto2 h1{
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    font-size: 50px;
    font-weight: normal;
    margin-top: 60px;
    position: relative;
}

.parte4 h2{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: normal;
    position: relative;
}

.parte5 h2{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: normal;
}

.texto3 h1{
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    font-size: 50px;
    font-weight: normal;
    margin-top: 60px;
    position: relative;
    text-align: center;
}

.galeria .imagem1 {
    width: 90%;
    margin-left: 5%;
    padding: 50px;

}

.galeria .imagem2 {
    width: 90%;
    margin-left: 5%;
    padding: 50px;
}

.galeria .imagem3 {
    width: 84%;
    margin-left: 8%;
    padding: 10px;
}

.texto4 h1{
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    font-size: 40px;
    font-weight: normal;
    margin-top: 60px;
    position: relative;
    text-align: center;
}

